/* styles.css */
  
.header {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300; /* The recommended font weight for mono */
    text-align: center;
    align-content: center;
}

.jumbotron {
    background-color: #5503fc;
}

.rule {
    width: 50%;
    background-color: #d3d3d3;
}

.form-control {
    border-radius: 0.5rem;
}

.btn {
    border-radius: 0.7rem;
}